<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
  <header class="display-flex justify-content-center align-left p-2 max-width-2000">
    <div id="header-wrap" class="display-flex">
    <div class="display-flex">
      {{!-- using bootstrap create a navigation menu with Home, Dashboard, and Logout links accross the top --}}
      <nav class="nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        {{#unless loggedIn }}<a class="nav-link" href="/login">Login</a>{{/unless}}
        {{#if loggedIn}}<a class="nav-link" id="logout-button">Logout</a> {{/if}}
      </nav>
    </div>
    <div class="title">
    <h1>
     Techtonic Blog
    </h1>
    </div>
    </div>
  </header>
  <main class="container container-fluid">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      <script src="/js/script.js"></script>
  </footer>
</body>

</html>
