
<div class="container container-fluid m-3 post bordered">
  <div  class="row generic-cont">
    <div class="col">
      Signup
    </div>
  </div>
  <div class="row secondary-cont">
    <div class="col">
     <form id="signup">
       Name
      <input type="text" id="name" />
      Email
      <input type="email" id="email" />
      Password
      <input type="password" id="password">
      <button type="submit">Sign Me Up!</button>

     </form>
    </div>
  </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("signup").addEventListener("submit", (event) => signUp(event));
    });

</script>