:root {
    --primary-color: #d9ead3;
    --secondary-color: #23100f;
    --tertiary-color: #a3a2a3;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}


html{
    background-color: var(--primary-color);
    font-family: var(--primary-font)!important  ;
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color)!important;
    margin: 0;
    padding: 0;

}

header{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom:10px;
}


#header-wrap{
    padding:1rem;
    max-width: 1000px;
    height:100%;
    margin:auto;
}
#header-wrap nav{
    display: flex;
    justify-content: left;

    text-align: left;
    padding-bottom: 0.3rem;
    color: var(--primary-color);
}

#header-wrap nav a{
    color: var(--primary-color)!important;
    text-decoration: none;
    padding: 1rem;
    text-align: left;
}

#header-wrap .title{
    
    background: var(--primary-color);
    color: var(--secondary-color);
    display: inline-block;
    margin:0;
    border-radius: 10px;
    box-shadow: 3px 3px 0px var(--tertiary-color);
}

#header-wrap .title h1{
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: var(--primary-font);
    font-weight: 900;
}


main{
    max-width:1000px!important;
}

.generic-cont{
    background: var(--secondary-color) !important;
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 2rem;

}



.generic-cont .text-end{
    font-size: 0.8rem;  
}


.secondary-cont{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
}

.bordered{
    border: 2px solid var(--secondary-color);
}

.form-cont{
    background: var(--secondary-color) !important;
    color: var(--secondary-color);
    font-size: 1rem;
}

.form2-cont{
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    padding: 10px;
}

form{
    display:flex;
    flex-direction: column;
    gap:10px;
}
form>*{
    width: 100%;
}

form>button{
    width:100%;
    margin-top:3px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    background: var(--secondary-color);
}

form>a{
    text-decoration: none;
}

form#editPost {
    width:100%;
}

form#editPost .inputs>*{
    margin-top:10px;
    margin-bottom: 10px;
    width:100%;
    border-radius:5px;
    border: 1px solid black;
    padding:5px;
    font-family: var(--primary-font);
    font-weight: 550;
}

form#editPost .inputs>#postContent{
    width:100%;
}

form#editPost .buttons>*{
    width:100%;
    margin-top:3px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    background: var(--secondary-color);
}

form#editPost .buttons>button:hover{
    background: var(--tertiary-color);
}

.newPost{
    background: var(--secondary-color);
    color: var(--primary-color);
    padding:10px;
    border-radius: 5px;
    margin:auto;
}


form.normalForm {
    width:100%;
}

form.normalForm .inputs>*{
    margin-top:10px;
    margin-bottom: 10px;
    width:100%;
    border-radius:5px;
    border: 1px solid black;
    padding:5px;
    font-family: var(--primary-font);
    font-weight: 550;
}

form.normalForm .inputs>#postContent{
    width:100%;
}

form.normalForm .buttons>*{
    width:100%;
    margin-top:3px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    background: var(--secondary-color);
}

form.normalForm .buttons>button:hover{
    background: var(--tertiary-color);
}